* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: beige;
}

.title {
  padding: 10px;
}

#error {
  color: darkred;
  border: 2px solid rgb(255, 0, 0);
  width: max-content;
  padding: 10px;
  text-align: center;
  display: inline-flex;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

nav {
  display: flex;
  max-width: 560px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-around;
  text-align: center;
}

.button {
  background-color: #58c013;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid rgb(255, 155, 6);
  box-shadow: 0 0 3px rgb(0 0 0);
  cursor: pointer;
  /* font-family: "Patrick Hand SC", cursive; */
}

#search-container {
  justify-content: space-around;
  text-align: center;
}

#comic-content {
  text-align: center;
}

#comic-title {
  background-color: white;
}

#selectComicNumber {
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

#header {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}

#searchInput {
  padding: 5px;
  background-color: white;
}

#comic-grid {
  max-width: 17%;
  margin: 0.5%;
  padding: 0.5%;
  display: inline-block;
  vertical-align: middle;
  border: solid 2px rgb(255, 155, 6);
  border-radius: 10px;
  background-color: white;
}

.comic-image,
.comic-title {
  text-align: center;
  padding: 5px;
  width: 100%;
  height: auto;
  background-color: white;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 10px solid #58c013;
  border-radius: 50%;
  border-top: 16px solid rgb(255, 155, 6);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: transparent;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
